body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}
audio {
  display: none;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main > div {
  color: white;
  font-weight: bolder;
  height: 20%;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  transition: all 2s linear, transform 2s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main > div:nth-child(1):hover {
  transform: rotate(360deg);
}
.main > div:nth-child(2):hover {
  transform: rotate(360deg);
}
.main > div:nth-child(3):hover {
  transform: rotate(360deg);
}
.main > div:nth-child(4):hover {
  transform: rotate(360deg);
}
.main > div:nth-child(5):hover {
  transform: rotate(360deg);
}
.main > div:nth-child(6):hover {
  transform: rotate(360deg);
}
.main > div:nth-child(7):hover {
  transform: rotate(360deg);
}
.main > div:nth-child(1) {
  background: violet;
}
.main > div:nth-child(2) {
  background: red;
}
.main > div:nth-child(3) {
  background: indigo;
}
.main > div:nth-child(4) {
  background: black;
}
.main > div:nth-child(5) {
  background: orange;
}
.main > div:nth-child(6) {
  background: blue;
}
.main > div:nth-child(7) {
  background: green;
}
